<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <div th:if="${jobs}">
        <h3 th:text="|${jobs.size()} Result(s)|"></h3>
        <div th:if="${jobs.size()}">
            <div>
                <table th:each="job : ${jobs}" class="job-listing">
                    <tr th:each="entry : ${job}">
                        <td><strong th:text="${#strings.capitalizeWords(entry.key)}"></strong></td>
                        <td th:text="${#strings.capitalizeWords(entry.value)}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments :: bootstrap"></div>
</body>
</html>